Django==5.2
dj-database-url==2.3.0
django-cors-headers==4.7.0
django-markdown-deux==1.0.6
django-model-utils==4.5.1
djangorestframework==3.15.2
gunicorn==23.0.0
markdown2==2.5.3
psycopg2-binary==2.9.10
pycryptodome==3.21.0
requests==2.32.3
stripe==11.6.0
whitenoise==6.8.0
